@import url("https://use.typekit.net/qvw1ahv.css");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('Styles/utilities.css');
@import url('Styles/header.css');
@import url('Styles/home.css');
@import url('Styles/modal.css');
@import url('Styles/orders.css');

:root {
  --primary-color: #e61d2b;
  --secondary-color: ;
  --dark-color: #1E1E1E;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --nuka-font: brush-script-std;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fjalla One', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: var(--light-color);
  background-image: url('./Assets/Images/roberto-sorin-927Ai60uafQ-unsplash.jpg');
}

html {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}